node_modules/

dist/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.vscode/
.idea/

.env
.env.*
!.env.example

coverage/
*.local

# pnpm-lock.yaml
# yarn.lock
# package-lock.json
